

.body {

}
.txt{
	    width: 50%;
	    float:right;	    
	   	margin-right: 10px;
	    color: #7C8B88;
	    margin-top: -1%;
	    

}

h1{
	text-align: left;
	background-color: #33BEBE;
	height: 40px;
	color:white;
	padding:10px 0px 0px 10px; 
	font-weight: normal;	

}
.body_main{
	width: 550px;
	margin: 0 auto;
	font-family: arial;
}
.container {
  position: fixed;
  width: 50%;
}

.image {
  
  width: 30%;
  height: auto;
  
  
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
 opacity: 0.2px;
  overflow: hidden;
  width: 30%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {

  white-space: nowrap; 
  color: white;
  font-size: 16px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 90%;
  margin:0 auto;

}